{{ define "page" -}}
<div class="expanding vertical text-container vcentered-content">
  <h1>
    Hallo!
    <br/>
    Ich bin Rainer Hoffmann.
  </h1>
  <p>
    Genie, Milliardär, Playboy, Philanthrop - halt stop, das war <a href="https://de.wikipedia.org/wiki/Iron_Man_(Film)">💥 Tony Stark</a>.
    <br/><br/>
    Trotzdem spiegelt sich aber eine Leidenschaft für Maschinenbau in meinen Hobbies wider:
    <br/>
    Als <a href="/schmuck">💎 Goldschmied</a>, <a href="/bilder">🎨 Maler</a>, <a href="/skulpturen">🔨 Schreiner</a> und nicht zuletzt durch mein selbstgebautes <a href="/elektroauto">⚡ Elektroauto</a> bin ich in meinem Umfeld bekannt als Künstler und Bastler.
    <br/><br/>
    Regelmäßig werde ich deshalb nach Bildern gefragt oder möchte jemandem eine Freude mit einem Schmuckstück machen. Beides soll diese Webseite unterstützen.
    <br/><br/>
    Hier findest Du Bilder und Beschreibungen meiner Werke - wenn Dir etwas besonders gut gefällt oder Du mehr wissen möchtest, freue ich mich auf <a href="mailto:rahoff@email.de?subject=[rahoff.enforge.de] Anfrage">✉ Deine Nachricht</a>!
  </p>
</div>
{{- end }}