{{ define "page" -}}
<div class="center vertical spaced">
  <span>Almost nothing to see here.</span>

  <div class="buttons">
    <a class="big inverted icon button" href="https://github.com/enforge-de">
      <svg viewBox="0 0 24 24">
        <use xlink:href="#github"></use>
      </svg>
    </a>
  </div>
</div>
{{- end }}