/* open-sans-regular - latin */
/* partially taken from https://google-webfonts-helper.herokuapp.com/fonts/open-sans?subsets=latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('fonts/open-sans-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/open-sans-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/open-sans-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

@import "normalize.min.css";

* {
  font-family: "Open Sans", sans-serif;
  color: hsla(0, 0%, 10%, 1);
  box-sizing: content-box; /* remove strange behaviour of some native elements - looking at you _button_! */
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 0;

  background-color: hsla(0, 0%, 90%, 1);

  font-size: 0.9rem;
}

.page {
  height: calc(100vh - (2* 0.8rem) - 16px); /* 16px is somehow  */
  width: 100%;
}

.navigation {
  width: 100%;

  color: hsla(0, 0%, 90%, 1);  
  background-color: hsla(0, 0%, 10%, 1);

  display: flex;
  justify-content: center;
  align-content: center;
}

.navigation > .container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.navigation .element {
  padding: 0.8rem;

  border-color: hsla(0, 0%, 20%, 1);

  border-style: solid;
  border-width: 2px;
  border-top: none;
  border-bottom: none;
  border-right: none; /* goes together with .navigation.element:first-child */
}
.navigation.element:first-child {
  border-left: none;
}
.navigation.element:hover {
  background-color: hsla(0, 0%, 20%, 1);
}

/* general button styling */
button,
.button {
  /* positioning, size */
  
  padding: calc(1rem * 0.5);
  height: 0.9rem;
  min-width: 0.9rem;

  text-align: center;

  font-size: inherit;

  transition-duration: 0.2s;

  /* unify button styling */
  display: inline;
  float: left;
  outline: none;
  cursor: pointer;

  /* border */
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;

  /* default button colors */
  color: hsla(0, 0%, 10%, 1);
  background-color: hsla(0, 0%, 90%, 1);
  border-color: hsla(0, 0%, 20%, 1);
}

/* button sizes */
button.large,
.button.large {
  padding: calc(1rem * 1.2 * 0.5);
  height: calc(0.9rem * 1.2);
  min-width: calc(0.9rem * 1.2);
  font-size: calc(0.9rem * 1.2);
}
button.big,
.button.big {
  padding: calc(1rem * 1.4 * 0.5);
  height: calc(0.9rem * 1.4);
  min-width: calc(0.9rem * 1.4);
  font-size: calc(0.9rem * 1.4);
}

/* inline button */
button.inline,
.button.inline {
  float: none;
}

/* contains multiple buttons */
.buttons > button,
.buttons > .button {
  margin-left: 1rem;
}
.buttons > button:first-child,
.buttons > .button:first-child {
  margin-left: 0;
}

/* inverted button */
button.inverted,
.button.inverted {
  color: hsla(0, 0%, 90%, 1);
  background-color: hsla(0, 0%, 10%, 1);
}

/* primary button styling */
button.primary,
.primary.button {
  color: hsla(0,100%,43%,1);
  background-color: hsla(60,100%,27%,1);
}
/* secondary button styling */
button.secondary,
.secondary.button {
  color: hsla(240,100%,43%,1);
  background-color: hsla(120,100%,43%,1);
}

/* hover button styling */
button:hover,
.button:hover {
  background-color: hsla(0, 0%, 70%, 1);
}
button.inverted:hover,
.button.inverted:hover {
  background-color: hsla(0, 0%, 30%, 1);
}
button.primary:hover,
.button.primary:hover {
  background-color: hsla(60, 100%, 47%, 1);
}
button.primary.inverted:hover,
.button.primary.inverted:hover {
  background-color: hsla(0, 100%, 63%, 1);  
}
button.secondary:hover,
.button.secondary:hover {
  background-color: hsla(120, 100%, 63%, 1);
}
button.secondary.inverted:hover,
.button.primary.inverted:hover {
  background-color: hsla(240, 100%, 63%, 1);
}

/* icon button */
button.icon,
.button.icon {
  height: calc(0.9rem * 1.2);
  min-width: calc(0.9rem * 1.2);
  padding: calc(1rem * 0.5 - (0.9rem * 1.2 - 0.9rem) / 2);
}
button.large.icon,
.button.large.icon {
  height: calc(0.9rem * 1.2 * 1.2);
  min-width: calc(0.9rem * 1.2 * 1.2);
  padding: calc(1rem * 1.2 * 0.5 - (0.9rem * 1.2 * 1.2 - 0.9rem * 1.2) / 2);
}
button.big.icon,
.button.big.icon {
  height: calc(0.9rem * 1.2 * 1.4);
  min-width: calc(0.9rem * 1.2 * 1.4);
  padding: calc(1rem * 1.4 * 0.5 - (0.9rem * 1.2 * 1.4 - 0.9rem * 1.4) / 2);
}

button.grouped,
.button.grouped {
  border-radius: 0;
}
button.grouped:first-child,
.button.grouped:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
button.grouped:last-child,
.button.grouped:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.grouped:not(:last-child) {
  border-right: none;
}

.icon > svg {
  height: calc(0.9rem * 1.2);
  width: calc(0.9rem * 1.2);
  display: inline-block;

  fill: hsla(0, 0%, 10%, 1);
}

.large.icon > svg {
  height: calc(0.9rem * 1.2 * 1.2);
  width: calc(0.9rem * 1.2 * 1.2);
}
.big.icon > svg {
  height: calc(0.9rem * 1.2 * 1.4);
  width: calc(0.9rem * 1.2 * 1.4);
}

.inverted.icon > svg {
  fill: hsla(0, 0%, 90%, 1);
}

.hidden {
  display: none;
}

.container {
  width: 60vw;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical {
  display: flex;
  flex-direction: column;
}
.vertical.spaced > * {
  margin-top: 1rem;
}
.vertical.spaced > *:first-child {
  margin-top: 0;
}
.spaced:not(.vertical) > * {
  margin-left: 1rem;
}
.spaced:not(.vertical) > *:first-child {
  margin-left: 0;
}

.fill {
  display: flex;
  justify-content: space-around;
}

a.nolink,
a.nolink:hover,
a.nolink:active,
a.nolink:visited {
  text-decoration: none;
}