{{ define "page" -}}
<div class="container">
  <h1>
    Ringe
  </h1>

  <div class="article-grid">
    {{ range list "schmuck/ringe" -}}
    <article class="vertical">
      <div class="expanding">
        <img src="/images/{{ .Name | urlize }}/{{ .Hauptbild }}">
      </div>
      <a href="{{ .Path }}">{{ .Name }}</a>
    </article>
    {{- end }}
</div>
  </div>
</div>

{{- end }}