{{ define "page" -}}
<div class="container">

  <h1>
    Bilder
  </h1>

  <div class="center vertical spaced">
    <span>Dieser Teil der Webseite befindet sich noch im Aufbau. Schau doch gerne sp&auml;ter nochmal vorbei!</span>
  </div>
</div>
{{- end }}