{{ define "content" -}}
<div class="container">

  {{ include "breadcrumbs.html" . | nindent 4 | safeHTML }}

  <h1>
    Elektroauto
  </h1>

  {{ include "default-listview.html" . | nindent 2 | safeHTML }}
</div>

{{- end }}