{{ define "page" -}}
<div class="container">
  <h1>
    Elektroauto
  </h1>

  <div class="center vertical spaced">
    <span>Hier gibt es bisher noch keine Inhalte. Schau doch gerne sp&auml;ter nochmal vorbei!</span>
  </div>
</div>
{{- end }}