<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      {{ block "title" . }}{{ .Site.Title }}{{ end }}
    </title>
    <link rel="shortcut icon" href="/favicon.ico">

    {{ $style := resources.Get "sass/semantic-ui.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.2/dist/semantic.min.js"></script>
    {{ $mainjs := resources.Get "js/main.js" }}
    {{ $securemainjs := $mainjs | resources.Fingerprint "sha512" }}
    <script type="text/javascript" src="{{ $securemainjs.Permalink }}" integrity="{{ $securemainjs.Data.Integrity }}"></script>
  </head>
  <body>
    {{ block "sidebar" . }}
    {{ end }}

    <div class="pusher">
      <div class="ui active page dimmer">
        <div class="ui loader"></div>
      </div>
      {{ block "sidebar" . }}
      <div id="mainmenu" class="ui left fixed secondary vertical pointing menu">
        <div class="vertical-center">
          <a class="item" href="/">
            <img class="ui image" src="/images/rahoff-scale-1.png">
          </a>
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
            <div class="{{ if $currentPage.HasMenuCurrent "main" . }}active {{ end }}item">
              {{ .Name }}
              <div class="menu">
                {{ range .Children }}
                  <a href="{{ .URL }}" class="{{ if $currentPage.IsMenuCurrent "main" . }}active {{ end }}item">{{ .Name }}</a>
                {{ end }}
              </div>
            </div>
            {{ else }}
            <a class="{{ if $currentPage.IsMenuCurrent "main" . }}active {{ end }}item" href="{{ .URL }}">
              {{ .Pre }}
              <span>{{ .Name }}</span>
            </a>
            {{ end }}
        {{ end }}
        </div>
        <div id="footer">
          <a class="listitem" href="/imprint">Impressum</a>
          <a class="listitem" href="/privacy">Datenschutz</a>
        </div>
      </div>
      {{ end }}

      <div id="maincontent">
        <div class="ui text container">
          {{ block "main" . }}
          {{ end }}
        </div>
      </div>

    </div>

  </body>
</html>