
{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<h1>{{ .Title }}</h1>
<br/><br/>

{{if le (.Pages) 0}}
<div class="ui segment">
  <h3>Hier gibt es bisher noch keine Inhalte.</h3>
  <p>Du kannst gerne später nochmal vorbei schauen</p>
</div>
{{end}}
{{ range .Pages }}
<a href="{{ .Permalink }}">
  <div class="ui segment">
    {{ $image := false }}
    {{ with .Params.images }}
      {{ $image = index . 0 }}
      <img class="ui fluid rounded image" src="{{ $image }}">
    {{ end }}
    <h3>{{ .Title }}</h3>
    <p>{{ .Content }}</p>
  </div>
</a>
<div style="height:5vh;"></div>
{{ end }}
{{ end }}