
{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<h1>{{ .Title }}</h1>

<div class="ui segment">
    {{ $image := false }}
    {{ with .Params.images }}
      {{ $image = index . 0 }}
      <img class="ui fluid rounded image" src="{{ $image }}">
    {{ end }}
    <br/>
    <div class="ui tiny rounded images">
        {{ range .Params.images }}
        <img class="ui image" src="{{ . }}">
        {{ end }}
      </div>
    <h3>{{ .Title }}</h3>
    <p>{{ .Content }}</p>
  </div>
{{ end }}