{{ define "grouped-borders.css" -}}
button.grouped,
.button.grouped {
  border-radius: 0;
}
button.grouped:first-child,
.button.grouped:first-child {
  border-top-left-radius: {{ .css.borders.radius }};
  border-bottom-left-radius: {{ .css.borders.radius }};
}
button.grouped:last-child,
.button.grouped:last-child {
  border-top-right-radius: {{ .css.borders.radius }};
  border-bottom-right-radius: {{ .css.borders.radius }};
}
.grouped:not(:last-child) {
  border-right: none;
}
{{- end }}